<nav class="navbar navbar-expand-sm navbar-light bg-warning mb-4">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Joblab</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="<%= root_path %>" aria-current="page">Inicio <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= oferta_path %>">Ofertas Laborales</a>
        </li>
        <% if !user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= user_session_path %>">Ingresar</a>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %></a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <% if current_user.role == "g0d" %>
                <a class="dropdown-item" href="<%= postulacions_path %>">Postulaciones</a>
                <a class="dropdown-item" href="<%= users_path %>">Usuarios</a>
              <% else %>
                <a class="dropdown-item" href="<%= mispostulaciones_path %>">Mis Postulaciones</a>
              <% end %>
              <a class="dropdown-item" href="<%= editarmicuenta_path %>">Editar mi Cuenta</a>
              <hr>
              <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<% if notice.present? %>
  <p class="notice alert alert-warning" role="alert"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="notice alert alert-danger" role="alert"><%= alert %></p>
<% end %>
