<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <th colspan="7" class="text-center">
        <% if postulacion.user.avatar.attached? %>
          <%= image_tag(postulacion.user.avatar, width:"300px") %>
        <% end %>
      </th>
      <tr>
        <th>Usuario</th>
        <th>Oferta a Postular</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Cargo</th>
        <th>Biografía</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= postulacion.user.nombre %></td>
        <td><%= postulacion.oferta.cargo %></td>
        <td><%= postulacion.user.email %></td>
        <td><%= postulacion.user.telefono %></td>
        <td><%= postulacion.user.direccion %></td>
        <td><%= postulacion.user.cargo %></td>
        <td><%= postulacion.user.bio %></td>
      </tr>
    </tbody>
  </table>
</div>
